<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Komoditas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style1.css') }}">
    <link rel="stylesheet" href="style1.css">
</head>
</head>
<body>
    <header>
        <div class="container">
          <div class="header">
            <h1> My Komoditas </h1>
          </div>
        </div>
    </header>
    <div class="message-wrapper">
        <div class="container">
            <h3>Rekomendasi Komoditas Anda Adalah:</h3>
        </div>

        {%if data == 1%}
        <h1>Padi</h1>
        <img src="static/Padi.png">

        {%elif data == 2%}
        <h1>Jagung</h1>
        <img src="static/Jagung.png">

        {%elif data == 3%}
        <h1>Kedelai</h1>
        <img src="static/Kedelai.png">

        {%elif data == 4%}
        <h1>Kakao</h1>
        <img src="static/Kakao.png">
        
        {%else%}
        <h1>Pakan Ternak</h1>
        <img src="static/Pakan Ternak.png">

        {%endif%}

      </div>
    <footer>
        <div class="container">
            <h1>My Komoditas</h1>
            <p>Leading Precission Agriculture.</p>
        </div>
      </footer>
</body>
</html>
