* {
    box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Arial";
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .header {
    float: left;
    color: white;
    padding-top: 13px;
  }

  .message-wrapper {
    background-color: rgba(34, 49, 52, 0.9);
    padding: 80px 0 120px 0;
    text-align: center;
  }

  .message-wrapper h3 {
    font-size: 20px;
    color: #eee;
    margin-bottom: 25px;
  }
  
.message-wrapper h1 {
  font-size: 25px;
  color: #eee;
}

  .container {
    width: 1200px;
    margin: 0 auto;
  }

  footer h1 {
    font-size: 24px;
    color:rgba(4, 13, 15, 0.9);
  }

  footer p {
    color: white;
    font-size: 12px;
  }
  
  footer {
    padding-top: 20px;
    background-color: gray;
  }